html,body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
  }
  

.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glow {
position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: #00ff95;
  filter: blur(180px);
  opacity: 0.18;
  z-index: -1;
}

.contentWrapper { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    border: 1px solid rgba(0, 255, 149, 0.1);
    margin-bottom: 2rem;
    border-radius: 16px;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.85);
    /* background: #000000;
background: linear-gradient(351deg, rgba(0, 0, 0, 1) 69%, rgba(61, 61, 61, 1) 100%); */
    /* box-shadow: 10px 10px 10px rgb(26, 26, 26); */
    height: 50%;
    /* max-height: 600px; */
    
}



@media screen and (max-width: 500px){
    .contentWrapper{
        max-width: 250px;
        /* max-height: 400px; */
    }

    .logo{
      max-width: 100%;
      height: auto !important;
    }


    .glow{
        width: 300px;
        height: 400px;
    }

    h1{
        font-size: 1.5rem;
    }

    #working {
        font-size: 0.75rem;
    }
}


@media screen and (max-width: 700px) {
    .contentWrapper {
      max-height: 300px !important;
      max-width: 350px ;
    }

    .logo{
        max-width: 50%;
        height: auto;
      }

      .glow{
        width: 300px;
        height: 400px;
    }

      .logoContainer{
        margin-bottom: 1rem !important;
      }
  }

@media screen and (max-height: 700px) {
    .contentWrapper {
      max-height: 300px !important;
    }

    .logo{
        max-width: 50%;
        height: auto;
      }

      .glow{
        width: 300px;
        height: 400px;
    }

      .logoContainer{
        margin-bottom: 1rem !important;
      }
  }
  
.textStyle {
    font-family: "Poppins", sans-serif;
    color: white;
}


.copywrite {
    font-size: x-small;
    font-weight: 300; 
    color: #b9b9b9ff;
}

.inputContainer {
    margin: 0.5rem auto;
    position: relative;
    display: flex;
    align-items: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logoContainer{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 2rem;
}

.logo {
    display: inline-block;
    width: 100%;
  }
  
  img{
    border: none;
  }

input {
    width: 15rem;
    padding: 0;
    margin: 0;
    height: 2rem;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color :rgba(31, 31, 31, 0); 
    border: 1px solid rgb(53, 53, 53);
    border-radius: 6px;
    padding-left: 2.5rem;
}

button {
    margin-top: 1rem;
    background:rgb(22, 190, 119);
    border: 1px solid transparent;
    border-radius: 4px;
    height: 2rem;
    width: 8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

button:hover{
    background: rgb(19, 160, 101);
}

#working{
    margin-bottom: 1rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 100,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24;
  color: grey;
  position: absolute;
  left: 10px;
  pointer-events: none;
}

